.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.content {
  grid-area: content;
}

.responsive {
  width: 100%;
  max-width: 250px;
  height: auto;
}