body {
  background-image: url(Library\ of\ Ruina.jpeg);
  background-size: cover;
  background-position: center;
}
h1 {
  text-align: center;
  color: navy;
  margin-left: 40px;
}

p {
  text-align: center;
  color: beige;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}