body {
  background-image: url(Library\ of\ Ruina.jpeg);
  background-size: cover;
  background-position: center;
}
h1 {
  color: navy;
  margin-left: 20px;
}

p {
  color: beige;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}